# ETL ENEM 2017

In [1]:
%load_ext sql

## Import

### Pandas

Pandas para limpeza dos dados cidades
https://pandas.pydata.org/docs/

### Boto3

Para criar e configurar serviços da AWS
https://boto3.amazonaws.com/v1/documentation/api/latest/index.html


### Configparser

Para passar parametros na criação, manutenção e status do Redshift
https://docs.python.org/3/library/configparser.html

In [2]:
import boto3
import configparser
import pandas as pd

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

## Realizar conexão ao Redshift

In [4]:
# PREENCHA COM O ENDPOINT DO REDSHIFT AQUI 
DWH_ENDPOINT="dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com" 
    
#PREENCHA COM A REGRA IAM ARN
#e.g DWH_ROLE_ARN="arn:aws:iam::988332130976:role/dwhRole"
DWH_ROLE_ARN="arn:aws:iam::746149547187:role/myRedshiftRole"

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://marcaoan:Passw0rd@dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com:5439/dwh

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: marcaoan@dwh'

## Criar client para s3

In [6]:
s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

s3Bucket =  s3.Bucket("enem2017datasprints")

## Criar tabela staging_enem

In [7]:
%%sql
DROP TABLE IF EXISTS "staging_enem";
CREATE TABLE "staging_enem"(
    "NU_INSCRICAO" VARCHAR NOT NULL,
    "NU_ANO" INTEGER NOT NULL,
    "CO_MUNICIPIO_RESIDENCIA" INTEGER NOT NULL,
    "NO_MUNICIPIO_RESIDENCIA" NVARCHAR NOT NULL,
    "CO_UF_RESIDENCIA" INTEGER NOT NULL,
    "SG_UF_RESIDENCIA" VARCHAR NOT NULL,
    "NU_IDADE" INTEGER,
    "TP_SEXO" CHAR NOT NULL,
    "TP_ESTADO_CIVIL" INTEGER,
    "TP_COR_RACA" INTEGER NOT NULL,
    "TP_NACIONALIDADE" INTEGER NOT NULL,
    "CO_MUNICIPIO_NASCIMENTO" INTEGER,
    "NO_MUNICIPIO_NASCIMENTO" VARCHAR,
    "CO_UF_NASCIMENTO" INTEGER,
    "SG_UF_NASCIMENTO" VARCHAR,
    "TP_ST_CONCLUSAO" INTEGER NOT NULL,
    "TP_ANO_CONCLUIU" INTEGER NOT NULL,
    "TP_ESCOLA" INTEGER NOT NULL,
    "TP_ENSINO" INTEGER,
    "IN_TREINEIRO" INTEGER,
    "CO_ESCOLA" INTEGER,
    "CO_MUNICIPIO_ESC" INTEGER,
    "NO_MUNICIPIO_ESC" VARCHAR,
    "CO_UF_ESC" INTEGER,
    "SG_UF_ESC" VARCHAR,
    "TP_DEPENDENCIA_ADM_ESC" INTEGER,
    "TP_LOCALIZACAO_ESC" INTEGER,
    "TP_SIT_FUNC_ESC" INTEGER,
    "IN_BAIXA_VISAO" BOOL,
    "IN_CEGUEIRA" BOOL,
    "IN_SURDEZ" BOOL,
    "IN_DEFICIENCIA_AUDITIVA" BOOL,
    "IN_SURDO_CEGUEIRA" BOOL,
    "IN_DEFICIENCIA_FISICA" BOOL,
    "IN_DEFICIENCIA_MENTAL" BOOL,
    "IN_DEFICIT_ATENCAO" BOOL,
    "IN_DISLEXIA" BOOL,
    "IN_DISCALCULIA" BOOL,
    "IN_AUTISMO" BOOL,
    "IN_VISAO_MONOCULAR" BOOL,
    "IN_OUTRA_DEF" BOOL,
    "IN_GESTANTE" BOOL,
    "IN_LACTANTE" BOOL,
    "IN_IDOSO" BOOL,
    "IN_ESTUDA_CLASSE_HOSPITALAR" BOOL,
    "IN_SEM_RECURSO" BOOL,
    "IN_BRAILLE" BOOL,
    "IN_AMPLIADA_24" BOOL,
    "IN_AMPLIADA_18"BOOL,
    "IN_LEDOR" BOOL,
    "IN_ACESSO" BOOL,
    "IN_TRANSCRICAO" BOOL,
    "IN_LIBRAS" BOOL,
    "IN_LEITURA_LABIAL" BOOL,
    "IN_MESA_CADEIRA_RODAS" BOOL,
    "IN_MESA_CADEIRA_SEPARADA" BOOL,
    "IN_APOIO_PERNA" BOOL,
    "IN_GUIA_INTERPRETE" BOOL,
    "IN_COMPUTADOR" BOOL,
    "IN_CADEIRA_ESPECIAL" BOOL,
    "IN_CADEIRA_CANHOTO" BOOL,
    "IN_CADEIRA_ACOLCHOADA" BOOL,
    "IN_PROVA_DEITADO" BOOL,
    "IN_MOBILIARIO_OBESO" BOOL,
    "IN_LAMINA_OVERLAY" BOOL,
    "IN_PROTETOR_AURICULAR" BOOL,
    "IN_MEDIDOR_GLICOSE" BOOL,
    "IN_MAQUINA_BRAILE" BOOL,
    "IN_SOROBAN" BOOL,
    "IN_MARCA_PASSO" BOOL,
    "IN_SONDA" BOOL,
    "IN_MEDICAMENTOS" BOOL,
    "IN_SALA_INDIVIDUAL" BOOL,
    "IN_SALA_ESPECIAL" BOOL,
    "IN_SALA_ACOMPANHANTE" BOOL,
    "IN_MOBILIARIO_ESPECIFICO" BOOL,
    "IN_MATERIAL_ESPECIFICO" BOOL,
    "IN_NOME_SOCIAL" BOOL,
    "CO_MUNICIPIO_PROVA" INTEGER NOT NULL,
    "NO_MUNICIPIO_PROVA" VARCHAR NOT NULL,
    "CO_UF_PROVA" INTEGER NOT NULL,
    "SG_UF_PROVA" VARCHAR NOT NULL,
    "TP_PRESENCA_CN" INTEGER ,
    "TP_PRESENCA_CH" INTEGER ,
    "TP_PRESENCA_LC" INTEGER ,
    "TP_PRESENCA_MT" INTEGER ,
    "CO_PROVA_CN" INTEGER,
    "CO_PROVA_CH" INTEGER,
    "CO_PROVA_LC" INTEGER,
    "CO_PROVA_MT" INTEGER,
    "NU_NOTA_CN" FLOAT,
    "NU_NOTA_CH" FLOAT,
    "NU_NOTA_LC" FLOAT,
    "NU_NOTA_MT" FLOAT,
    "TX_RESPOSTAS_CN" VARCHAR,
    "TX_RESPOSTAS_CH" VARCHAR,
    "TX_RESPOSTAS_LC" VARCHAR,
    "TX_RESPOSTAS_MT" VARCHAR,
    "TP_LINGUA" BOOL,
    "TX_GABARITO_CN" VARCHAR,
    "TX_GABARITO_CH" VARCHAR,
    "TX_GABARITO_LC" VARCHAR,
    "TX_GABARITO_MT" VARCHAR,
    "TP_STATUS_REDACAO" INTEGER,
    "NU_NOTA_COMP1" INTEGER,
    "NU_NOTA_COMP2" INTEGER,
    "NU_NOTA_COMP3" INTEGER,
    "NU_NOTA_COMP4" INTEGER,
    "NU_NOTA_COMP5" INTEGER,
    "NU_NOTA_REDACAO" INTEGER,
    "Q001" CHAR ,
    "Q002" CHAR ,
    "Q003" CHAR ,
    "Q004" CHAR ,
    "Q005" INTEGER,
    "Q006" CHAR ,
    "Q007" CHAR ,
    "Q008" CHAR ,
    "Q009" CHAR ,
    "Q010" CHAR ,
    "Q011" CHAR ,
    "Q012" CHAR ,
    "Q013" CHAR ,
    "Q014" CHAR ,
    "Q015" CHAR ,
    "Q016" CHAR ,
    "Q017" CHAR ,
    "Q018" CHAR ,
    "Q019" CHAR ,
    "Q020" CHAR ,
    "Q021" CHAR ,
    "Q022" CHAR ,
    "Q023" CHAR ,
    "Q024" CHAR ,
    "Q025" CHAR ,
    "Q026" CHAR ,
    "Q027" CHAR  
)

 * postgresql://marcaoan:***@dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

### Popular staging_enem 

- Popular staging_enem com dados do arquivo MICRODADOS_ENEM_2017.csv.gz'

In [8]:
%%time
qry = """
    copy staging_enem from 's3://enem2017datasprints/microdados/MICRODADOS_ENEM_2017.csv.gz'
    credentials 'aws_iam_role={}'
    IGNOREHEADER 1
    ACCEPTINVCHARS 
    gzip delimiter ';' compupdate off region 'us-west-2';
""".format(DWH_ROLE_ARN)

%sql $qry

 * postgresql://marcaoan:***@dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
CPU times: user 20 ms, sys: 5.7 ms, total: 25.7 ms
Wall time: 5min 12s

## Criar tabela de dimensão inscrito

In [9]:
%%sql
DROP TABLE IF EXISTS "dim_inscrito";
CREATE TABLE "dim_inscrito"(
"NU_INSCRICAO" VARCHAR NOT NULL distkey,
"NU_IDADE" INTEGER,
"TP_SEXO" CHAR NOT NULL,
"TP_ESTADO_CIVIL" INTEGER,
"TP_COR_RACA" INTEGER NOT NULL,
"TP_NACIONALIDADE" INTEGER NOT NULL,
"NO_MUNICIPIO_NASCIMENTO" VARCHAR,
"TP_ST_CONCLUSAO" INTEGER NOT NULL,
"TP_ANO_CONCLUIU" INTEGER NOT NULL,
"TP_ESCOLA" INTEGER NOT NULL,
"TP_ENSINO" INTEGER,
"IN_TREINEIRO" INTEGER,
"IN_BAIXA_VISAO" BOOL,
"IN_CEGUEIRA" BOOL,
"IN_SURDEZ" BOOL,
"IN_DEFICIENCIA_AUDITIVA" BOOL,
"IN_SURDO_CEGUEIRA" BOOL,
"IN_DEFICIENCIA_FISICA" BOOL,
"IN_DEFICIENCIA_MENTAL" BOOL,
"IN_DEFICIT_ATENCAO" BOOL,
"IN_DISLEXIA" BOOL,
"IN_DISCALCULIA" BOOL,
"IN_AUTISMO" BOOL,
"IN_VISAO_MONOCULAR" BOOL,
"IN_OUTRA_DEF" BOOL,
"IN_GESTANTE" BOOL,
"IN_LACTANTE" BOOL,
"IN_IDOSO" BOOL,
"IN_ESTUDA_CLASSE_HOSPITALAR" BOOL,
"IN_SEM_RECURSO" BOOL,
"IN_BRAILLE" BOOL,
"IN_AMPLIADA_24" BOOL,
"IN_AMPLIADA_18" BOOL,
"IN_LEDOR" BOOL,
"IN_ACESSO" BOOL,
"IN_TRANSCRICAO" BOOL,
"IN_LIBRAS" BOOL,
"IN_LEITURA_LABIAL" BOOL,
"IN_MESA_CADEIRA_RODAS" BOOL,
"IN_MESA_CADEIRA_SEPARADA" BOOL,
"IN_APOIO_PERNA" BOOL,
"IN_GUIA_INTERPRETE" BOOL,
"IN_COMPUTADOR" BOOL,
"IN_CADEIRA_ESPECIAL" BOOL,
"IN_CADEIRA_CANHOTO" BOOL,
"IN_CADEIRA_ACOLCHOADA" BOOL,
"IN_PROVA_DEITADO" BOOL,
"IN_MOBILIARIO_OBESO" BOOL,
"IN_LAMINA_OVERLAY" BOOL,
"IN_PROTETOR_AURICULAR" BOOL,
"IN_MEDIDOR_GLICOSE" BOOL,
"IN_MAQUINA_BRAILE" BOOL,
"IN_SOROBAN" BOOL,
"IN_MARCA_PASSO" BOOL,
"IN_SONDA" BOOL,
"IN_MEDICAMENTOS" BOOL,
"IN_SALA_INDIVIDUAL" BOOL,
"IN_SALA_ESPECIAL" BOOL,
"IN_SALA_ACOMPANHANTE" BOOL,
"IN_MOBILIARIO_ESPECIFICO" BOOL,
"IN_MATERIAL_ESPECIFICO" BOOL,
"IN_NOME_SOCIAL" BOOL,
"Q001" CHAR ,
"Q002" CHAR ,
"Q003" CHAR ,
"Q004" CHAR ,
"Q005" INTEGER,
"Q006" CHAR ,
"Q007" CHAR ,
"Q008" CHAR ,
"Q009" CHAR ,
"Q010" CHAR ,
"Q011" CHAR ,
"Q012" CHAR ,
"Q013" CHAR ,
"Q014" CHAR ,
"Q015" CHAR ,
"Q016" CHAR ,
"Q017" CHAR ,
"Q018" CHAR ,
"Q019" CHAR ,
"Q020" CHAR ,
"Q021" CHAR ,
"Q022" CHAR ,
"Q023" CHAR ,
"Q024" CHAR ,
"Q025" CHAR ,
"Q026" CHAR ,
"Q027" CHAR  
);


INSERT INTO dim_inscrito(
	NU_INSCRICAO   ,
	NU_IDADE ,
	TP_SEXO   ,
	TP_ESTADO_CIVIL ,
	TP_COR_RACA   ,
	TP_NACIONALIDADE   ,
	NO_MUNICIPIO_NASCIMENTO ,
	TP_ST_CONCLUSAO   ,
	TP_ANO_CONCLUIU,
	TP_ESCOLA,
	TP_ENSINO,
	IN_TREINEIRO ,
	IN_BAIXA_VISAO ,
	IN_CEGUEIRA ,
	IN_SURDEZ ,
	IN_DEFICIENCIA_AUDITIVA ,
	IN_SURDO_CEGUEIRA ,
	IN_DEFICIENCIA_FISICA ,
	IN_DEFICIENCIA_MENTAL ,
	IN_DEFICIT_ATENCAO ,
	IN_DISLEXIA ,
	IN_DISCALCULIA ,
	IN_AUTISMO ,
	IN_VISAO_MONOCULAR ,
	IN_OUTRA_DEF ,
	IN_GESTANTE ,
	IN_LACTANTE ,
	IN_IDOSO ,
	IN_ESTUDA_CLASSE_HOSPITALAR ,
	IN_SEM_RECURSO ,
	IN_BRAILLE ,
	IN_AMPLIADA_24 ,
	IN_AMPLIADA_18 ,
	IN_LEDOR ,
	IN_ACESSO ,
	IN_TRANSCRICAO ,
	IN_LIBRAS ,
	IN_LEITURA_LABIAL ,
	IN_MESA_CADEIRA_RODAS ,
	IN_MESA_CADEIRA_SEPARADA ,
	IN_APOIO_PERNA ,
	IN_GUIA_INTERPRETE ,
	IN_COMPUTADOR ,
	IN_CADEIRA_ESPECIAL ,
	IN_CADEIRA_CANHOTO ,
	IN_CADEIRA_ACOLCHOADA ,
	IN_PROVA_DEITADO ,
	IN_MOBILIARIO_OBESO ,
	IN_LAMINA_OVERLAY ,
	IN_PROTETOR_AURICULAR ,
	IN_MEDIDOR_GLICOSE ,
	IN_MAQUINA_BRAILE ,
	IN_SOROBAN ,
	IN_MARCA_PASSO ,
	IN_SONDA ,
	IN_MEDICAMENTOS ,
	IN_SALA_INDIVIDUAL ,
	IN_SALA_ESPECIAL ,
	IN_SALA_ACOMPANHANTE ,
	IN_MOBILIARIO_ESPECIFICO ,
	IN_MATERIAL_ESPECIFICO ,
	IN_NOME_SOCIAL ,
	Q001  ,
	Q002  ,
	Q003  ,
	Q004  ,
	Q005 ,
	Q006  ,
	Q007  ,
	Q008  ,
	Q009  ,
	Q010  ,
	Q011  ,
	Q012  ,
	Q013  ,
	Q014  ,
	Q015  ,
	Q016  ,
	Q017  ,
	Q018  ,
	Q019  ,
	Q020  ,
	Q021  ,
	Q022  ,
	Q023  ,
	Q024  ,
	Q025  ,
	Q026  ,
	Q027   )
SELECT 
	NU_INSCRICAO   ,
	NU_IDADE ,
	TP_SEXO   ,
	TP_ESTADO_CIVIL ,
	TP_COR_RACA   ,
	TP_NACIONALIDADE   ,
	NO_MUNICIPIO_NASCIMENTO ,
	TP_ST_CONCLUSAO   ,
	TP_ANO_CONCLUIU,
	TP_ESCOLA,
	TP_ENSINO,
	IN_TREINEIRO ,
	IN_BAIXA_VISAO ,
	IN_CEGUEIRA ,
	IN_SURDEZ ,
	IN_DEFICIENCIA_AUDITIVA ,
	IN_SURDO_CEGUEIRA ,
	IN_DEFICIENCIA_FISICA ,
	IN_DEFICIENCIA_MENTAL ,
	IN_DEFICIT_ATENCAO ,
	IN_DISLEXIA ,
	IN_DISCALCULIA ,
	IN_AUTISMO ,
	IN_VISAO_MONOCULAR ,
	IN_OUTRA_DEF ,
	IN_GESTANTE ,
	IN_LACTANTE ,
	IN_IDOSO ,
	IN_ESTUDA_CLASSE_HOSPITALAR ,
	IN_SEM_RECURSO ,
	IN_BRAILLE ,
	IN_AMPLIADA_24 ,
	IN_AMPLIADA_18 ,
	IN_LEDOR ,
	IN_ACESSO ,
	IN_TRANSCRICAO ,
	IN_LIBRAS ,
	IN_LEITURA_LABIAL ,
	IN_MESA_CADEIRA_RODAS ,
	IN_MESA_CADEIRA_SEPARADA ,
	IN_APOIO_PERNA ,
	IN_GUIA_INTERPRETE ,
	IN_COMPUTADOR ,
	IN_CADEIRA_ESPECIAL ,
	IN_CADEIRA_CANHOTO ,
	IN_CADEIRA_ACOLCHOADA ,
	IN_PROVA_DEITADO ,
	IN_MOBILIARIO_OBESO ,
	IN_LAMINA_OVERLAY ,
	IN_PROTETOR_AURICULAR ,
	IN_MEDIDOR_GLICOSE ,
	IN_MAQUINA_BRAILE ,
	IN_SOROBAN ,
	IN_MARCA_PASSO ,
	IN_SONDA ,
	IN_MEDICAMENTOS ,
	IN_SALA_INDIVIDUAL ,
	IN_SALA_ESPECIAL ,
	IN_SALA_ACOMPANHANTE ,
	IN_MOBILIARIO_ESPECIFICO ,
	IN_MATERIAL_ESPECIFICO ,
	IN_NOME_SOCIAL ,
	Q001  ,
	Q002  ,
	Q003  ,
	Q004  ,
	Q005 ,
	Q006  ,
	Q007  ,
	Q008  ,
	Q009  ,
	Q010  ,
	Q011  ,
	Q012  ,
	Q013  ,
	Q014  ,
	Q015  ,
	Q016  ,
	Q017  ,
	Q018  ,
	Q019  ,
	Q020  ,
	Q021  ,
	Q022  ,
	Q023  ,
	Q024  ,
	Q025  ,
	Q026  ,
	Q027
	FROM staging_enem as se

 * postgresql://marcaoan:***@dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
6731341 rows affected.

[]

### Criar tabela de dimensão escola

In [10]:
%%sql
DROP TABLE IF EXISTS "dim_escola";
CREATE TABLE "dim_escola"(
    "CO_ESCOLA" INTEGER NOT NULL,
    "NO_MUNICIPIO_ESC" VARCHAR NOT NULL,
    "SG_UF_ESC" VARCHAR NOT NULL,
    "TP_DEPENDENCIA_ADM_ESC" INTEGER ,
    "TP_LOCALIZACAO_ESC" INTEGER ,
    "TP_SIT_FUNC_ESC" INTEGER
);

INSERT INTO dim_escola(
    CO_ESCOLA,
    NO_MUNICIPIO_ESC,
    SG_UF_ESC,
    TP_DEPENDENCIA_ADM_ESC,
    TP_LOCALIZACAO_ESC,
    TP_SIT_FUNC_ESC
)
SELECT 
    DISTINCT CO_ESCOLA,
    NO_MUNICIPIO_ESC,
    SG_UF_ESC,
    TP_DEPENDENCIA_ADM_ESC,
    TP_LOCALIZACAO_ESC,
    TP_SIT_FUNC_ESC
FROM staging_enem as se
WHERE CO_ESCOLA is not null

 * postgresql://marcaoan:***@dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
33834 rows affected.

[]

### Criar tabela de fato enem

In [11]:
%%sql
DROP TABLE IF EXISTS "fat_enem";

CREATE TABLE "fat_enem"(
    "NU_INSCRICAO" VARCHAR NOT NULL distkey,
    "CO_ESCOLA" INTEGER,
    "CO_MUNICIPIO_PROVA" INTEGER NOT NULL,
    "NO_MUNICIPIO_PROVA" VARCHAR NOT NULL,
    "CO_UF_PROVA" INTEGER NOT NULL,
    "SG_UF_PROVA" VARCHAR NOT NULL,
    "TP_PRESENCA_CN" INTEGER ,
    "TP_PRESENCA_CH" INTEGER ,
    "TP_PRESENCA_LC" INTEGER ,
    "TP_PRESENCA_MT" INTEGER ,
    "NU_NOTA_CN" FLOAT,
    "NU_NOTA_CH" FLOAT,
    "NU_NOTA_LC" FLOAT,
    "NU_NOTA_MT" FLOAT,
    "TX_RESPOSTAS_CN" VARCHAR,
    "TX_RESPOSTAS_CH" VARCHAR,
    "TX_RESPOSTAS_LC" VARCHAR,
    "TX_RESPOSTAS_MT" VARCHAR,
    "TP_LINGUA" BOOL,
    "TX_GABARITO_CN" VARCHAR,
    "TX_GABARITO_CH" VARCHAR,
    "TX_GABARITO_LC" VARCHAR,
    "TX_GABARITO_MT" VARCHAR,
    "TP_STATUS_REDACAO" INTEGER,
    "NU_NOTA_COMP1" INTEGER,
    "NU_NOTA_COMP2" INTEGER,
    "NU_NOTA_COMP3" INTEGER,
    "NU_NOTA_COMP4" INTEGER,
    "NU_NOTA_COMP5" INTEGER,
    "NU_NOTA_REDACAO" INTEGER
    );

INSERT INTO fat_enem(
    NU_INSCRICAO ,
    CO_ESCOLA ,
    CO_MUNICIPIO_PROVA ,
    NO_MUNICIPIO_PROVA ,
    CO_UF_PROVA ,
    SG_UF_PROVA ,
    TP_PRESENCA_CN ,
    TP_PRESENCA_CH ,
    TP_PRESENCA_LC ,
    TP_PRESENCA_MT ,
    NU_NOTA_CN  ,
    NU_NOTA_CH  ,
    NU_NOTA_LC  ,
    NU_NOTA_MT  ,
    TX_RESPOSTAS_CN ,
    TX_RESPOSTAS_CH ,
    TX_RESPOSTAS_LC ,
    TX_RESPOSTAS_MT ,
    TP_LINGUA  ,
    TX_GABARITO_CN ,
    TX_GABARITO_CH ,
    TX_GABARITO_LC ,
    TX_GABARITO_MT ,
    TP_STATUS_REDACAO ,
    NU_NOTA_COMP1 ,
    NU_NOTA_COMP2 ,
    NU_NOTA_COMP3 ,
    NU_NOTA_COMP4 ,
    NU_NOTA_COMP5 ,
    NU_NOTA_REDACAO 
)
SELECT 
    NU_INSCRICAO ,
    CO_ESCOLA ,
    CO_MUNICIPIO_PROVA ,
    NO_MUNICIPIO_PROVA ,
    CO_UF_PROVA ,
    SG_UF_PROVA ,
    TP_PRESENCA_CN ,
    TP_PRESENCA_CH ,
    TP_PRESENCA_LC ,
    TP_PRESENCA_MT ,
    NU_NOTA_CN  ,
    NU_NOTA_CH  ,
    NU_NOTA_LC  ,
    NU_NOTA_MT  ,
    TX_RESPOSTAS_CN ,
    TX_RESPOSTAS_CH ,
    TX_RESPOSTAS_LC ,
    TX_RESPOSTAS_MT ,
    TP_LINGUA ,
    TX_GABARITO_CN ,
    TX_GABARITO_CH ,
    TX_GABARITO_LC ,
    TX_GABARITO_MT ,
    TP_STATUS_REDACAO ,
    NU_NOTA_COMP1 ,
    NU_NOTA_COMP2 ,
    NU_NOTA_COMP3 ,
    NU_NOTA_COMP4 ,
    NU_NOTA_COMP5 ,
    NU_NOTA_REDACAO 
FROM staging_enem as se

 * postgresql://marcaoan:***@dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
6731341 rows affected.

[]

### Criar tabela de dimensão cidades

In [12]:
%%sql
DROP TABLE IF EXISTS "staging_cidades";

CREATE TABLE "staging_cidades"(
    "MUNICIPIO" VARCHAR NOT NULL,
    "CODIGO" INTEGER NOT NULL,
    "GENTILICO" VARCHAR NOT NULL,
    "PREFEITO" VARCHAR NOT NULL,
    "AREA_TERRITORIAL" VARCHAR NOT NULL,
    "POPULACAO" INTEGER NOT NULL,
    "DENSIDADE" VARCHAR NOT NULL,
    "ESCOLARIDADE" FLOAT ,
    "IDH_MUNICIPAL" FLOAT ,
    "MORTALIDADE_INFANTIL" FLOAT,
    "RECEITA" VARCHAR NOT NULL,
    "DESPESAS"  VARCHAR NOT NULL,
    "PIB_PER_CAPITA" FLOAT NOT NULL
)

 * postgresql://marcaoan:***@dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

### Popular staging_cidades 

- Popular staging_cidades com dados do arquivo cidades.csv

In [13]:
%%time
qry = """
    copy staging_cidades from 's3://enem2017datasprints/cidades/cidades.csv'
    credentials 'aws_iam_role={}'
    IGNOREHEADER 1
    ACCEPTINVCHARS 
    delimiter ',' compupdate off region 'us-west-2';
""".format(DWH_ROLE_ARN)

%sql $qry

 * postgresql://marcaoan:***@dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
CPU times: user 4.78 ms, sys: 83 µs, total: 4.86 ms
Wall time: 18.3 s

### Unpivotar a tabela de fato enem

- Unpivotar a tabela de fato enem para facilitar o drill-down de dados no Power BI

In [14]:
%%sql

CREATE VIEW view_unpivot_fat_enem 
as 
WITH 
    cols as (
      select 'nu_nota_cn' as c
      union all 
      select 'nu_nota_ch' as c
      union all 
      select 'nu_nota_lc' as c
      union all 
      select 'nu_nota_mt' as c
      union all 
      select 'nu_nota_redacao' as c
      )
select 
    "nu_inscricao",
    "co_escola", 
    "co_municipio_prova", 
    "no_municipio_prova",
    "co_uf_prova",
    "sg_uf_prova",
    c "nu_nota",
    CASE c 
        WHEN 'nu_nota_cn' THEN "nu_nota_cn" 
        WHEN 'nu_nota_ch' THEN "nu_nota_ch"
        WHEN 'nu_nota_lc' THEN "nu_nota_lc"
        WHEN 'nu_nota_mt' THEN "nu_nota_mt"
        WHEN 'nu_nota_redacao' THEN "nu_nota_redacao"
        ELSE NULL
    END as "nu_nota_valor"

from fat_enem cross join cols;

 * postgresql://marcaoan:***@dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

### Agregar a tabela unpivot_fat_enem

In [15]:
%%sql

CREATE OR REPLACE VIEW view_agg_fat_enem 
as 
SELECT 
    nu_nota
    ,co_municipio_prova
    ,sg_uf_prova
    ,AVG(nu_nota_valor) as nu_nota_valor
FROM view_unpivot_fat_enem
GROUP BY nu_nota
    ,co_municipio_prova
    ,sg_uf_prova

 * postgresql://marcaoan:***@dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

### Verificar erros no processo de copy

- Caso seja necessário verificar algum erro no processo de COPY descomentar o código abaixo e executar

In [ ]:
"""
%%sql 
SELECT *
FROM stl_load_errors
ORDER BY STARTTIME
;
"""

 * postgresql://marcaoan:***@dwhcluster.cswcz8st1ron.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.OperationalError) SSL SYSCALL error: EOF detected

[SQL: SELECT *
FROM stl_load_errors
ORDER BY STARTTIME
;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Limpar dados de cidades

- Caso seja necessário limpar os dados da tabela de cidades descomentar o código abaixo e executar
- Dados NaN para None
- Substituir hífen por ""
- Substituir virgula por ponto

In [ ]:
"""
import boto
import numpy as np
from io import StringIO
import re
df = pd.read_csv('s3://enem2017datasprints/cidades/cidades.csv',quotechar='"', decimal=",")
df = df.where(pd.notnull(df), None)
df = df.apply(lambda x: x.astype(str).str.replace(',','.'))
df = df.applymap(lambda x: re.sub(r'^-$', "", x))
csv_buffer = StringIO()
df.to_csv(csv_buffer, index=False)
s3.Object('enem2017datasprints', 'cidades/cidades.csv').put(Body=csv_buffer.getvalue())
"""

{'ETag': '"da0f0456e99ab8437690b6609dc398a6"',
 'ResponseMetadata': {'HTTPHeaders': {'content-length': '0',
   'date': 'Sat, 05 Sep 2020 00:51:34 GMT',
   'etag': '"da0f0456e99ab8437690b6609dc398a6"',
   'server': 'AmazonS3',
   'x-amz-id-2': 'UVwaml065x0BWCLxSP8MgtkPHMH87E14eoUUX6SVn9IOZxXYrqm/5KeyZiy2xp1BWgCfeyqMYX8=',
   'x-amz-request-id': 'C6D94E33E4347D40'},
  'HTTPStatusCode': 200,
  'HostId': 'UVwaml065x0BWCLxSP8MgtkPHMH87E14eoUUX6SVn9IOZxXYrqm/5KeyZiy2xp1BWgCfeyqMYX8=',
  'RequestId': 'C6D94E33E4347D40',
  'RetryAttempts': 0}}